/* TODO: move away from absolute positioning */
#covidTracker {
    color: inherit;
    opacity: 0.8;
    position: absolute;
    right: 0.3em;
    top: 0.2em;
    font-size: 0.65em;
    font-weight: normal;
    text-align: center;
    /* display: inline-block; */
}
#covidDelta{
    color: #2ecc40;
    font-weight: bold;
}
.nightMode #covidDelta {
    color: #01FF70;
}
#covidTracker.no-data{
    color: #ff851b;
}
.nightMode #covidTracker.no-data{
    color: #edcd03;
}
span.covidDataTitle{
    color: initial;
}
span.covidDataTitle{
    color: inherit;
}
#covidTracker:hover {
  text-decoration: underline;
  cursor: pointer
}